In [2]:
# Dependencies
import pandas as pd

In [9]:
file = "Resources/hawaii_measurements.csv"
measure = pd.read_csv(file)
measure.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
file2 = "Resources/hawaii_stations.csv"
stations = pd.read_csv(file2)
stations.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [11]:
print(measure.count())
measure = measure.dropna(how='any')
print(measure.count())

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64
station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [14]:
print(stations.count())
print()
print(stations.describe)

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

<bound method NDFrame.describe of        station                                    name  latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US  21.27160 -157.81680
1  USC00513117                    KANEOHE 838.1, HI US  21.42340 -157.80150
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US  21.52130 -157.83740
3  USC00517948                       PEARL CITY, HI US  21.39340 -157.97510
4  USC00518838              UPPER WAHIAWA 874.3, HI US  21.49920 -158.01110
5  USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US  21.33556 -157.71139
6  USC00519281                     WAIHEE 837.5, HI US  21.45167 -157.84889
7  USC00511918       HONOLULU OBSERVATORY 702.2, HI US  21.31520 -157.99920
8  USC00516128            MANOA LYON ARBO 785.2, HI US  21.33310 -157.80250

   elevation
0        3.0
1       14.6
2        7.0
3       11.9
4      306.6
5       19.5
6       32.9
7        0.9
8      152.4  >

In [15]:
measure.to_csv("Resources/clean_measurements.csv")

In [16]:
stations.to_csv("Resources/clean_stations.csv")