In [1]:
import pandas as pd

In [2]:
file = "Resources/clean_measurements.csv"
file2 = "Resources/clean_stations.csv"

measure = pd.read_csv(file)
station = pd.read_csv(file2)

print(measure.head())
print(station.head())

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           5  USC00519397  2010-01-07  0.06    70
   Unnamed: 0      station                                    name  latitude  \
0           0  USC00519397                    WAIKIKI 717.2, HI US   21.2716
1           1  USC00513117                    KANEOHE 838.1, HI US   21.4234
2           2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US   21.5213
3           3  USC00517948                       PEARL CITY, HI US   21.3934
4           4  USC00518838              UPPER WAHIAWA 874.3, HI US   21.4992

   longitude  elevation
0  -157.8168        3.0
1  -157.8015       14.6
2  -157.8374        7.0
3  -157.9751       11.9
4  -158.0111      306.6

In [3]:
measure = measure.rename(columns={'Unnamed: 0': 'id'})
station = station.rename(columns={'Unnamed: 0': 'id'})

measure = measure.set_index("id")
station = station.set_index("id")

In [4]:
measure.head()

        station        date  prcp  tobs
id
0   USC00519397  2010-01-01  0.08    65
1   USC00519397  2010-01-02  0.00    63
2   USC00519397  2010-01-03  0.00    74
3   USC00519397  2010-01-04  0.00    76
5   USC00519397  2010-01-07  0.06    70

In [5]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")

conn = engine.connect()

In [7]:
print(measure.columns)
print()
print(station.columns)

Index(['station', 'date', 'prcp', 'tobs'], dtype='object')

Index(['station', 'name', 'latitude', 'longitude', 'elevation'], dtype='object')

In [8]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [9]:
class Measurements(Base):
    __tablename__ = 'Measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [10]:
class Stations(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    extend_existing=True

In [11]:
conn = engine.connect()
Base.metadata.create_all(conn)

In [12]:
measure.to_sql('Measurements', engine, if_exists='append')
station.to_sql('Stations', engine, if_exists='append')

In [13]:
conn = engine.connect()
Base.metadata.create_all(conn)